@tailwind base;
@tailwind components;
@tailwind utilities;




.text-white {
  color: white;
}

.text-black {
  color: black;
}

.text-red {
  color: red;
}

.bg-black {
  background-color: black;
}

.bg-white {
  background-color: white;
}

.bg-red {
  background-color: red;
}

.text-1xl {
  font-size: 16px;
}

.text-small {
  font-size: 12px;
}



.font-normal {
  font-weight: normal;
}
