@tailwind base;
@tailwind components;
@tailwind utilities;




.text-white {
  color: white;
}

.text-black {
  color: black;
}

.text-red {
  color: red;
}

.bg-black {
  background-color: black;
}

.bg-white {
  background-color: white;
}

.bg-red {
  background-color: red;
}

.text-1xl {
  font-size: 16px;
}

.text-small {
  font-size: 12px;
}



.font-normal {
  font-weight: normal;

  .bg-black-gradient {
    background: linear-gradient(
      144.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%
    );
  }
  .bg-blue-gradient {
    background: linear-gradient(
      157.81deg,
      #def9fa -43.27%,
      #bef3f5 -21.24%,
      #9dedf0 12.19%,
      #7de7eb 29.82%,
      #5ce1e6 51.94%,
      #33bbcf 90.29%
    );
  }
}
